# macOS
.DS_Store

# Visual Studio Code
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo

# Home Assistant
.storage/

# Lokale Notizen (nur Frank Wilhelm)
notes.local.md

# Lokale TODOs (nur Frank Wilhelm)
TODO.local.md